body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-modern {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(20, 111, 214);
    color: white;
    cursor: pointer;
    border-bottom: 2px solid rgb(20, 111, 214);
}


.btn-modern:hover {
    transform: translateY(-5px);
    box-shadow: 4px 5px 5px 2px rgba(0,0,0,0.5);
    background-color: rgba(9, 64, 126, 0.76);
    color:black;
    transition: transform 0.4;
}